/* body {
    margin: 0;
    padding: 0;
} */


/***********************AŞAĞI YUKARI BUTONU********************************************/
.sqr-btn {
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: rgba(255, 255, 255, 0.541); 
    color: black; 
    border: 2px solid rgba(247, 109, 17, 0.678);
  }
  .button1:hover {
    background-color: rgba(247, 109, 17, 0.678);
    color: white;
  }
/*---------------------------------------------------------------------------------*/
/**/
/**/
/*****************************ANASAYFA HAKKIMIZDA BUTONU******************************/
.new-button {
    padding: 10px 91px;
    border-radius: 25px;
    color: white;
    text-decoration: none; /*altyazıyı sildik*/
    -webkit-box-shadow: 9px 0px 8px 5px rgba(255, 255, 255, 0.32); 
    box-shadow: 9px 0px 8px 5px rgba(255, 255, 255, 0.32);
}
.gradient {
    background: linear-gradient(90deg,rgb(247, 110, 17),rgba(0, 0, 0, 0.712));
}
/*---------------------------------------------------------------------------------*/
/**/
/**/
/*****************************SEPETE EKLE********************************************/
.btn{
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: rgba(255, 255, 255, 0.541); 
    color: black; 
    border: 2px solid rgba(247, 109, 17, 0.678);
  }
  .button2:hover {
    background-color: rgba(247, 109, 17, 0.678);
    color: white;
  }
/*-------------------------------------------------------------------------------------*/
/**/
/**/
.home-page {
    text-decoration: underline overline;
    color:rgb(247, 110, 17) ;
    font-family: 'Harry Potter', sans-serif;
    font-size: 50px;
    /* margin-left: auto;
    margin-right: auto;} */
}

/* .content {
    width: 800px;
    float: left;
} */

.clear {
    clear: both;
}

.font1 {
    background-color: none;
    font-family: 'Harry Potter', sans-serif;
    text-decoration-color:blueviolet ;
}

